<div class="limiter">
<div class="container-login100">
    <div class="wrap-login100">
        <form class="login101-form" >
            <div class="col-md-3"></div>
            <img src="../../assets/img/logo.png" width="200" height="200">
            <span class="login100-form-title p-b-34">
                <button class="login100-form-btn" (click)="goAdminLogin()">Admin Login</button>
            </span>

            <span class="login100-form-title p-b-34">
                <button class="login100-form-btn" (click)="goContLogin()">Contributor Login</button>
            </span>

            <span class="login100-form-title p-b-34">
                <button class="login100-form-btn" (click)="goOrgLogin()">Organizer Login</button>
            </span>

            <div class="w-full text-center p-t-27 p-b-239">
               
            </div>

            <div class="w-full text-center">
                <a href="" class="txt3">
                    
                </a>
            </div>
        </form>

        <div class="login100-more" style="background-image: url('../../assets/images/bg-01.jpg');"></div>
    </div>
</div>
</div>
                
        
        