<div class="row">
<div class="col-md-1"></div>
<div class="col-md-7">
  <mat-card>
  <mat-tab-group>
      <mat-tab label="Event organizer">
        <app-regeventcontributor></app-regeventcontributor>
      </mat-tab>
      <mat-tab label="Event Contributor"><app-editorganizer></app-editorganizer></mat-tab>
  </mat-tab-group>
</mat-card>
</div>
<div class="col-md-4">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Trasher</mat-card-title>
          <mat-card-subtitle>Rover Robot</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img/rover.jpg" alt="Photo of a Rover">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>

</div>
</div>
