<div class="row">
<div class="col-md-8">
    <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Trasher</mat-card-title>
        <mat-card-subtitle>Live Feedback</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <iframe [src]="cameraUrl" width="700" height="550" frameborder="0" webkitallowfullscreen mozallowfullscreen
        allowfullscreen></iframe>
    </mat-card-content>
    </mat-card>
</div>
</div>