<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/home']" mat-list-item ><i class="material-icons">home</i> Home</a>
      <a [routerLink]="['/registerUsers']" mat-list-item href="#"><i class="material-icons">group_add</i> Register Users</a>
      <a [routerLink]="['/manageUsers']" mat-list-item href="#"><i class="material-icons">account_circle</i> Manage Users</a>
      <a [routerLink]="['/systemStatistics']" mat-list-item href="#"><i class="material-icons">bar_chart</i> System Statistics</a>
      <a [routerLink]="['/invoices']" mat-list-item href="#"><i class="material-icons">assignment</i> Invoices</a>
      <a [routerLink]="['/messages']" mat-list-item href="#"><i class="material-icons">feedback</i> Messages</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Trasher</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
