span{
  color: white;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.img{
  margin-left: 70px;
}

.active-list-item {
  color: green; /* Note: You could also use a custom theme */
}

p.ex {
  margin-left: 20px;
  margin-top: 15px;
}
