<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav-content>
    <!-- Admin Toolbar -->
    <mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Admin Dashboard</span>
      <div class="col-md-9"></div>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout <mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>

    <!-- Contributor toolbar -->
    <mat-toolbar color="primary" *ngIf="isLoggedInCon$ | async as isLoggedInCon">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Event Contributor - {{user.username}}</span>
      <div class="col-md-9"></div>
      <button mat-button (click)="onLogoutCon()" *ngIf="isLoggedInCon">Logout <mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>

    <!-- Organizer toolbar -->
    <mat-toolbar color="primary" *ngIf="isLoggedInOrg$ | async as isLoggedInOrg">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Event Organizer - {{userOrg.username}}</span>
      <div class="col-md-9"></div>
      <button mat-button (click)="onLogoutOrg()" *ngIf="isLoggedInOrg">Logout <mat-icon>exit_to_app</mat-icon></button>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="true"  
      *ngIf="isLoggedIn$ | async as isLoggedIn">

    <mat-toolbar></mat-toolbar>
    <mat-toolbar><img class="img" src="assets/img/logo.png" width=120px height=120px></mat-toolbar>
    <br><br/><br/>
    
    <div class="wel" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-nav-list>
      <mat-list-item>
        <a  [routerLink]="['/home']" mat-list-item  routerLinkActive="active-list-item"><mat-icon>home</mat-icon>
         <p class="ex">Dashboard</p></a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/manageRobot']" mat-list-item routerLinkActive="active-list-item"><mat-icon>android</mat-icon>
          <p class="ex">Manage Robot</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['/manageUsers']" mat-list-item routerLinkActive="active-list-item"><mat-icon>account_circle</mat-icon>
          <p class="ex">Manage Users</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['/systemStatistics']" mat-list-item routerLinkActive="active-list-item"><mat-icon>bar_chart</mat-icon>
          <p class="ex">System Statistics</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['/invoices']" mat-list-item routerLinkActive="active-list-item"><mat-icon>assignment</mat-icon>
          <p class="ex">Invoices</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['/messages']" mat-list-item routerLinkActive="active-list-item"><mat-icon>feedback</mat-icon>
          <p class="ex">Messages</p></a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  </mat-sidenav>
  
  <!-- Contributor Menu -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="true"  
  *ngIf="isLoggedInCon$ | async as isLoggedInCon">

  <mat-toolbar></mat-toolbar>
    <mat-toolbar><img class="img" src="assets/img/logo.png" width=120px height=120px></mat-toolbar>
    <br><br/><br/>
    
  <div class="wel" *ngIf="isLoggedInCon$ | async as isLoggedInCon">
    <mat-nav-list>
      <mat-list-item>
        <a  [routerLink]="['contributor/home']" mat-list-item  routerLinkActive="active-list-item"><mat-icon>home</mat-icon>
          <p class="ex">Home</p></a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  </mat-sidenav>

  <!-- Organizer Menu -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="true"  
  *ngIf="isLoggedInOrg$ | async as isLoggedInOrg">

  <mat-toolbar></mat-toolbar>
    <mat-toolbar><img class="img" src="assets/img/logo.png" width=120px height=120px></mat-toolbar>
    <br><br/><br/>
    
  <div class="wel" *ngIf="isLoggedInOrg$ | async as isLoggedInOrg">
    <mat-nav-list>
      <mat-list-item>
        <a  [routerLink]="['organizer/home']" mat-list-item  routerLinkActive="active-list-item"><mat-icon>home</mat-icon>
          <p class="ex">Home</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['organizer/invoices']" mat-list-item routerLinkActive="active-list-item"><mat-icon>assignment</mat-icon>
          <p class="ex">Invoices</p></a>
      </mat-list-item>

      <mat-list-item>
        <a [routerLink]="['organizer/managecontributor']" mat-list-item routerLinkActive="active-list-item"><mat-icon>account_circle</mat-icon>
          <p class="ex">Manage Contributor</p></a>
      </mat-list-item>

    </mat-nav-list>
  </div>
  </mat-sidenav>

</mat-sidenav-container>