<div class="container container-fluid">
<mat-card>
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>FullName</th>
    <th>Address</th>
    <th>City</th>
    <th>Password</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contributor of contributors">
    <td>{{contributor.id}}</td>
    <td>{{contributor.username}}</td>
    <td>{{contributor.fullname}}</td>
    <td>{{contributor.address}}</td>
    <td>{{contributor.city}}</td>
    <td>{{contributor.password}}</td>
    <td><button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn" (click)="remove(contributor.id)"><mat-icon>delete</mat-icon></button>
    </td>
  </tr>
  </tbody>
</table>
</mat-card>
</div>