.example-card {
    max-width: 300px;
    margin-right: 10px;
}

.example-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
}

mat-card-content{
    color:#f1a009;
}