
<div class="container">
  
<div class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="row">
<div *ngFor="let robot of robots">

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{robot.name}}</mat-card-title>
      <mat-card-subtitle>Robot</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/uploads/{{robot.image}}"  height="300px" alt="">
    
    <mat-card-content>
      <p>
        {{robot.details}}
      </p>
    </mat-card-content>
    
    <mat-card-actions>
      
      <button mat-icon-button (click)="onEdit(robot)"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button color="warn" (click)="remove(robot.id)"><mat-icon>delete_outline</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
</div>