.example-card {
    max-width: 200px;
    max-height: 500px;
    margin-right: 20px;
}

.example-header-image {
    background-image: url('../../../assets/img/logo.png');
    background-size: cover;
}

mat-card-content{
    color:#f1a009;
}