<div class="row">
<div class="col-md-6">
<mat-card>
  <app-select-map>
  </app-select-map>
  </mat-card>
</div>

<div class="col-md-6">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Robot</mat-card-title>
    <mat-card-subtitle>Live Feedback</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <iframe [src]="cameraUrl" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen
    allowfullscreen></iframe>
  </mat-card-content>
</mat-card>
  <div *ngIf="progress">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button class="btn btn-success btn-block" (click)="Start()">Clean</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-danger btn-block" (click)="Stop()">Cancel</button>
    </div>
  </div>
</div>

</div>