
<mat-card class="example-card">
<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user.fullname}}</mat-card-title>
    <mat-card-subtitle>{{user.username}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
    <h2>Address - {{user.address}}</h2>
    <h2>City - {{user.city}}</h2>
    <h2>Mobile - {{user.mobile}}</h2>
    <h2>Email - {{user.email}}</h2>
</mat-card-content>
<mat-card-actions>
    <button mat-icon-button (click)="onEdit(user)"><mat-icon>launch</mat-icon></button>
</mat-card-actions>
</mat-card>   
