/* You can add global styles to this file, and also import other style files */
@import "my-theme.scss";

html,
body{
    height:100%;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #929191; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8d8c8c; 
}